.fs-xs {
  font-size: $font-size-xs !important;
}
.fs-sm {
  font-size: $font-size-sm !important;
}
.fs-md {
  font-size: $font-size-md !important;
}
.fs-lg {
  font-size: $font-size-lg !important;
}
.fs-xl {
  font-size: $font-size-xl !important;
}
.fs-2xl {
  font-size: $font-size-2xl !important;
}
.fs-3xl {
  font-size: $font-size-3xl !important;
}
