// .bg-gray {
//   background-color: #f0f2f5;
// }
// .section-padding {
//   padding-top: 80px;
//   padding-bottom: -80px;
// }

.rounded-panel {
  border-radius: 24px;
  background-color: #fcfcfd;
}

.side-width {
  width: 300px;
}
.mb-80 {
  margin-bottom: 80px;
}
.btn-primary {
  background-color: #14191f;
  border-color: #14191f;
}
