<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>服務方案 | 職旅 WorkWay</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner">
      <h1>服務方案</h1>
      <img src="../assets/images/deco_left_down.png" alt="" class="deco-l-d" />
      <img src="../assets/images/deco_right_up.png" alt="" class="deco-r-u" />
      <p class="mt-5">
        我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。
      </p>
      <img src="../assets//images/Girl.png" alt="" />
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
